<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>All Gear</string>
	<string>Gloves</string>
	<string>Hats</string>
	<string>Shoes</string>
	<string>Pants</string>
	<string>Jackets</string>
	<string>SwimWear</string>
	<string>Sunglasses</string>
</array>
</plist>
